<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
</head>
<body>
<section>
 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="http://127.0.0.1:5000/dashboard">Task Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/create-board">Create Board</a>
          </li>
        </ul>
        <ul class="form-inline my-2 my-lg-0 navbar-nav">
          <li class="nav-item"><a href="http://127.0.0.1:5000/logout" class="btn btn-outline-warning my-2 my-sm-0">Logout</a></li>
        </ul>
      </div>
    </nav>
</section>

<main role="main" class="container" style="margin-top:60px;">

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h1 class="pb-2">All Boards</h1>
        {% for obj in data %}
        <div class="row align-items-center">
            <div class="col-md-6">
                <a href="http://127.0.0.1:5000/{{ obj.owner_id }}/{{ obj.board_id }}/list-tasks">
                  <div class="media text-muted pb-3">
                    <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_180138d2b3d%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_180138d2b3d%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2212.045440673828125%22%20y%3D%2217.2%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
                    <p class="media-body mb-0 small lh-125">
                      <strong class="d-block text-gray-dark p-1">{{ obj.board_name }}</strong>
                      </p>
                  </div>
                </a>
            </div>
            <div class="col-md-2 text-right">
                {% if obj.owner_id == user_id and obj.can_delete %}
                <a href="http://127.0.0.1:5000/{{ obj.board_id }}/delete-board/{{ obj.board_name }}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
            <div class="col-md-2">
                {% if obj.owner_id == user_id %}
                <a href="http://127.0.0.1:5000/{{ obj.board_id }}/update-board" class="btn btn-success">Edit</a>
                {% endif %}
            </div>

        </div>
        {% endfor %}
    </div>

</main>

</body>


